@charset "UTF-8";
/*$otherFont:
font-family: 'Open Sans', Helvetica, 'Microsoft YaHei New', 'Microsoft Yahei', 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
font-size: 48px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 800;
*/
html, body {
  margin: 0;
  height: 100%; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 20px;
  text-align: center;
  background-color: black; }

#portol-player {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #e6e6f0;
  padding-right: 20px; }

#test-logo {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  position: absolute;
  top: 58%;
  font-size: 3em;
  left: 40%; }

#test-logo-2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  position: absolute;
  top: 72%;
  font-size: 3em;
  left: 40%; }

.test-logo-acc {
  color: pink; }

/*
#screen-container {
	 height: $pFrameToPortol;
	 width: $pFrameToPortol;
	 display: inline-block;
	 text-align: center;
	 position: relative;
	 left: 0px;
	 top: 0px;
	 background-size: cover;
	 background-color: black;
	 
	 overflow: hidden;
}
*/
#theme-backdrop {
  width: 100% !important;
  height: auto !important;
  display: inline-block;
  z-index: 1; }
  #theme-backdrop.fixed-backdrop {
    position: absolute;
    top: 0;
    left: 0; }
  #theme-backdrop.dimming-gradient {
    -webkit-transition: opacity 10s ease;
    -moz-transition: opacity 10s ease;
    -o-transition: opacity 10s ease;
    transition: opacity 10s ease;
    opacity: 0; }

/*
#dark-backdrop {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	
 	width: 100% !important;
	height: auto !important;
	
	-webkit-transition: opacity 10s ease;
	-moz-transition: opacity 10s ease;
 	-o-transition: opacity 10s ease;
 	transition: opacity 10s ease;
 	
	&.no-filter {
		display: none;
	}
	
	&.dimming-filter {
		display: inline-block;		
	 	opacity: 100%;
	}
	
}
*/
.hide-mouse {
  cursor: none; }

#landing-page {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: -webkit-linear-gradient(right, #00C488, #576BFF);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #00C488, #576BFF);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00C488, #576BFF);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00C488, #576BFF);
  /* Standard syntax */ }

.port-FP-uninitialized {
  display: none; }

#splash-container {
  width: 100%;
  display: none;
  text-align: center;
  display: inline-block;
  text-align: center;
  repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px; }

/*******************************
 * Panels
 *******************************/
#panels-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  bottom: 0px;
  text-align: left;
  display: block;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px; }

#back-to-program {
  z-index: 3;
  width: 100%;
  font-size: 2em;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); }
  #back-to-program:hover {
    background-color: #5C6BC0;
    cursor: pointer; }
  #back-to-program.hidden-bar {
    display: inline-block;
    position: absolute;
    top: 200%; }
  #back-to-program.available-bar {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0; }

/******************************************************
	Panel Modules
*******************************************************/
/*
.splash-panel {
	//display: block;
	display: block;
	//position: absolute;
	z-index: $zPanelBackdrop;
	width: $panelContainerWidth;
	height: auto;
	
	left: 0px;
	
	border-bottom: 2px solid white;
	
	background-size: cover;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-repeat: no-repeat;
}
*/
/*
.splash-panel {

}
*/
#player-container {
  width: 100%;
  text-align: center;
  border-bottom: none;
  background-color: none; }

#video-info-panel {
  text-align: left;
  overflow: hidden;
  background-color: none; }

#pairing-panel {
  padding-left: 2%;
  text-align: left;
  background-color: none;
  border-top: 2px solid white; }
  #pairing-panel h1 {
    padding-top: 3%;
    padding-right: 2%;
    color: white;
    font-family: "Ubuntu", sans-serif;
    width: 75%; }

#account-panel {
  padding-left: 2%;
  text-align: left;
  border-top: 2px solid white;
  background-color: #33691E; }

#portol-panel {
  text-align: center;
  background-color: #7986CB; }

#pdash-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#panel-controllers {
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 70px;
  right: 0px;
  z-index: 4; }

#shim-gradient.underlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
#shim-gradient.dimmed {
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
  opacity: 0; }

.frozen {
  position: absolute;
  top: 100%; }

#splash-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat; }

/***************************
	* Video info container
****************************/
#video-title {
  display: inline-block;
  border: none;
  width: 95%;
  position: relative;
  font-weight: 600;
  font-size: 4.2vw;
  letter-spacing: 1px;
  color: white;
  outline: none;
  font-family: "Ubuntu", sans-serif; }

#video-col-1 {
  display: inline-block;
  position: relative;
  top: 10%;
  height: 90%;
  width: 75%;
  padding-left: 1em;
  z-index: 3;
  overflow: hidden; }

#video-description {
  font-family: "Ubuntu", sans-serif;
  padding: 0.1em 0.25em;
  border: none;
  font-weight: 400;
  font-size: 3vh;
  color: white;
  width: 80%;
  max-height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px; }

#video-creator {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2.5vw;
  color: white;
  padding: 0.2em 0.25em; }

#video-discoverer {
  position: absolute;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 0.2em 0.25em;
  bottom: 1em;
  text-align: center; }

#channel-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: white;
  position: relative; }

#channel-description {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  color: white;
  position: relative; }

/***************************
	* Player Panel
 ***************************/
/*
#player-options-container {
	display: inline-block;
	position: absolute;
	top:30%;
	left: 5%;
	width: 30%;
	background: rgba(255,255,255,.2);
	
	&.hidden-container {
		display: none;
	}
	
	z-index: $zControlButtons;
 }
 */
.highest {
  z-index: 1000; }

#player-options-container {
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 4; }
  #player-options-container.hidden-container {
    display: none; }

.player-option-button {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25em;
  color: white;
  padding: 10px 5px 10px 5px;
  background-color: #00b97f;
  width: 100%; }
  .player-option-button:hover {
    cursor: pointer;
    background-color: #00c488; }

/***************************
	* Pairing Panel
 ***************************/
/* If we are proud of the qr code, use this:
#qrcode-img {
	display: inline-block;
	height: 80%;
	
	-webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
 	-moz-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
 	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
}
*/
#qrcode-img {
  display: inline-block;
  height: 20vw;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  border-radius: 30%; }
  #qrcode-img:hover {
    z-index: 4;
    height: 30vw;
    cursor: none; }

#text-pair-code {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  margin: 10px 5px 10px 5px;
  padding: 5px 0px 5px 0px;
  font-size: 5em;
  color: white;
  background-color: #FF4081;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5); }

.pair-pink {
  padding: 2px 2px;
  background-color: #FF4081;
  font-weight: bold; }

#pairing-methods {
  display: inline-block;
  position: relative;
  left: 42.5%;
  top: 20%;
  height: 61%;
  width: 70%;
  text-align: left; }

#pairing-procedure {
  position: relative;
  top: 0;
  height: 100%;
  left: 0;
  z-index: 4;
  width: 32.5%;
  font-size: 1.5em;
  color: white;
  font-family: "Ubuntu", sans-serif;
  	/*
  	background-color: #9FA8DA;
  	padding: 5px 0px 5px 0px;
  
  	-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
   	-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
   	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
   	*/ }
  #pairing-procedure .main-content {
    position: relative;
    top: 20%;
    left: 5px; }

#fullpage {
  z-index: 3; }

/*****************************************************
	User Info Panel
******************************************************/
#login-options-container {
  display: inline-block;
  position: relative;
  top: 30%;
  left: 5%;
  width: 30%;
  z-index: 4;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: #00b97f; }
  #login-options-container.hidden-container {
    display: none; }

#user-information {
  height: 100%; }

#logged-in {
 	/*
 	-webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
	*/
  position: relative;
  top: 38%; }
  #logged-in.hidden-container {
    display: none; }

#login-options-main {
  background-color: #00b97f; }

.login-option-button {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: "Ubuntu", sans-serif;
  height: 50px; }
  .login-option-button.hidden-button {
    display: none; }
  .login-option-button:hover {
    cursor: pointer;
    background-color: #00c488; }

.login-option-text {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: white;
  padding-left: 5px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid #c8c8c8;
  height: 50px;
  font-family: "Ubuntu", sans-serif;
  color: rgba(150, 150, 150, 0.8); }

/**************************
 * Control Bar
 **************************/
#control-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 4;
  text-align: center;
  -webkit-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
  -moz-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
  -o-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
  transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease; }
  #control-bar.opened-drawer {
    width: 25%;
    height: 100%;
    -webkit-box-shadow: -30px 0px 30px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -30px 0px 30px -10px rgba(0, 0, 0, 0.5);
    box-shadow: -30px 0px 30px -10px rgba(0, 0, 0, 0.5); }
  #control-bar.closed-drawer {
    height: 80%;
    width: 55px;
    background: -webkit-linear-gradient(right, rgba(0, 0, 60, 0), rgba(0, 0, 0, 0.65));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0, 0, 60, 0), rgba(0, 0, 0, 0.65));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0, 0, 60, 0), rgba(0, 0, 0, 0.65));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0, 0, 60, 0), rgba(0, 0, 0, 0.65));
    /* Standard syntax */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #control-bar.hidden-drawer {
    right: -100px !important;
    width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.splash-button {
  position: absolute;
  display: inline-block;
  background: rgba(63, 81, 181, 0.9);
  border-bottom: 1px solid #141414;
  -webkit-background-clip: padding;
  background-size: cover;
  background-clip: padding-box;
  color: white;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  left: 2px;
  z-index: 4;
  border-left: 2px solid white;
  line-height: 1.2em;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highligh-color: transparent;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  -webkit-box-shadow: -20px 0px 20px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -20px 0px 20px -10px rgba(0, 0, 0, 0.8);
  box-shadow: -20px 0px 20px -10px rgba(8, 8, 8, 0.8);
  height: 16.66667%; }
  .splash-button.mini {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .splash-button.mini.mini:hover {
      width: 55px;
      height: 55px;
      background: transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      left: -2.5px;
      top: -2.5px; }
    .splash-button.mini.mini.active {
      width: 55px;
      height: 55px;
      background: transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      left: -2.5px;
      top: -2.5px; }
  .splash-button:hover {
    background: rgba(255, 64, 129, 0.95);
    -webkit-box-shadow: -20px 0px 20px -2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: -20px 0px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: -30px 5px 30px -5px rgba(0, 0, 0, 0.8);
    z-index: 5; }
  .splash-button.active {
    background: rgba(255, 64, 129, 0.95);
    -webkit-box-shadow: -20px 0px 20px -2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: -20px 0px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: -30px 5px 30px -5px rgba(0, 0, 0, 0.8);
    z-index: 5; }

.splash-button-focus {
  background: rgba(255, 64, 129, 0.95);
  -webkit-box-shadow: -20px 0px 20px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -20px 0px 20px -10px rgba(0, 0, 0, 0.8);
  box-shadow: -30px 5px 30px -5px rgba(0, 0, 0, 0.8);
  z-index: 6; }

.splash-button-label {
  display: inline-block;
  text-align: left;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 3vw;
  width: 100%;
  margin-top: 40%; }

/****
 Divide buttons up with golden ratio
 ****/
.golden-split {
  display: inline-block;
  overlap-x: hidden;
  height: 100%; }

.golden-split-small {
  width: 38%;
  text-align: center;
  margin: auto; }
  .golden-split-small.mini {
    width: 50px;
    height: 50px;
    top: 0;
    background-color: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
    -moz-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
    -o-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
    transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease; }

.golden-split-big {
  width: 60%;
  float: right; }
  .golden-split-big.mini {
    display: none;
    -webkit-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
    -moz-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
    -o-transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease;
    transition: width 0.1s ease, height 0.1s ease, left 0.1s ease, right 0.1s ease; }

.control-icon {
  display: inline-block;
  border: 2px solid white;
  background: rgba(20, 20, 20, 0.3);
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  vertical-align: middle; }
  .control-icon.normal {
    width: 61%;
    height: auto;
    top: 50%;
    margin-top: -25%; }
  .control-icon.mini {
    width: 100%;
    height: 100%;
    margin-top: 0;
    border: 2px solid white; }
    .control-icon.mini.mini:hover {
      width: 52px;
      height: 52px; }

#portol-logo {
  width: 33%;
  height: 100%; }

#drawer-button.normal {
  top: 0%; }
#drawer-button.mini {
  top: 0px;
  text-align: center; }

#watch-button.normal {
  top: 16.66667%; }
#watch-button.mini {
  top: 60px; }

#video-info-button.normal {
  top: 33.33333%; }
#video-info-button.mini {
  top: 120px; }

#pairing-button.normal {
  top: 50.0%; }
#pairing-button.mini {
  top: 180px; }

#account-button.normal {
  top: 66.66667%; }
#account-button.mini {
  top: 240px; }

#portol-button.normal {
  top: 83.33333%; }
#portol-button.mini {
  top: 300px; }

#portol-logo {
  width: 33%;
  height: 100%; }

#portol-logo-button {
  width: 100%;
  height: 100%; }

/********************************
 * RATING BAR
*********************************/
#rating-bar {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #FBB117; }

.rating-star {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
  position: relative;
  font-size: 3vw; }

.good-star {
  color: #FBB117; }

.bad-star {
  color: none;
  border: 1px; }

/*******************************************
  * Video Info Panel
********************************************/
#price-scroll {
  background: transparent;
  border: 2px solid #00C488;
  width: 3em;
  padding: 5px 3px 5px 3px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7em;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

/******************************************
  * Account Info Panel
  *****************************************/
#user-name {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7em; }

#user-pic {
  width: 30%;
  display: inline-block;
  position: relative; }

#user-balance {
  width: 150px;
  color: white; }

/*******************************************
 Pairing Panel
******************************************/
#portol-cast-color-icon {
  display: inline-block;
  width: 61%;
  height: 36%;
  margin-top: 32%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px; }

/*******************************************
 Portol Info Panel
******************************************/
#portol-info-link {
  color: white;
  font-size: 3vw; }

/**
 * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
 * 
 * To overcome this, create media queries that target the width, height, and orientation of iOS devices. 
 * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing 
 * the height of element `.foo` —which is a full width and height cover image.
 *
 * iOS Resolution Quick Reference: http://www.iosres.com/
 */
.foo {
  height: 100vh;
  width: 100vw;
  background: url(cover.jpg) center center/cover no-repeat; }

@media (max-width: 991px) {
  .desktop-only {
    display: none !important; } }
/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .foo {
    height: 1024px; } }
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .foo {
    height: 768px; } }
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  .foo {
    height: 500px; } }

/*# sourceMappingURL=PortolPlayer.css.map */
