$primaryColor: #eeffcc;
$portolToIframe: 100%;
$pFrameToPortol: 100%;
$mainFont: Open Sans, Lucida Grande, Tahoma, Verdana, sans-serif;

/*$otherFont:
font-family: 'Open Sans', Helvetica, 'Microsoft YaHei New', 'Microsoft Yahei', 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
font-size: 48px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 800;
*/

$zScreenBackdrop: 1;
$zPanelBackdrop: 2;
$zPanelInfo: 3;
$zControlButtons: 4;

$controlBarWidth : 25%;
$controlBarShortWidth: 55px;

$miniButtonSize: 50px;

$panelContainerWidth: 100%-$controlBarWidth;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin easy-transition($time){
 	-webkit-transition: width $time ease, height $time ease, left $time ease;
	-moz-transition: width $time ease, height $time ease, left $time ease;
 	-o-transition: width $time ease, height $time ease, left $time ease;
 	transition: width $time ease, height $time ease, left $time ease;
}

#portol-player {
	width: $portolToIframe;
	height: $portolToIframe;
	display: inline-block;
	position: relative;
	margin: auto;
	text-align: center;
	//overflow: hidden;
	overflow-y: scrolling;
	background-color: rgb(230,230,240);
}

#screen-container {
	 height: $pFrameToPortol;
	 width: $pFrameToPortol;
	 display: inline-block;
	 text-align: center;
	 position: relative;
	 left: 0px;
	 top: 0px;
	 background-size: cover;
	 
	 &.dimming-gradient {
	 	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	 }
}

.hide-mouse {
	cursor: none;
}

#landing-page {
	display: inline-block;
	height: $portolToIframe;
	width: $portolToIframe;
	//background-color: #3F51B5;
	//background-color: #576bff;
	$leftStop: #00C488;
	$rightStop: #576BFF;

	background: -webkit-linear-gradient(right, $leftStop , $rightStop); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, $leftStop, $rightStop); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, $leftStop, $rightStop); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, $leftStop , $rightStop); /* Standard syntax */
}

#splash-container {
	width: 100%;
	//display: inline-block;
	display: none;
	text-align: center;
	//height: this.parentElement.offsetHeight - this.controlBarHeight + 'px';
	display: inline-block;
	text-align: center;
	repeat: no-repeat;
   	-webkit-background-size: cover;
   	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
}

/*******************************
 * Panels
 *******************************/
 #panels-container {
	position: absolute;
	z-index: $zScreenBackdrop;
	width: 100%;
	height: 100%;
	bottom: 0px;
	text-align: left;
	display: block;
	left: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/******************************************************
	Panel Modules
*******************************************************/
.splash-panel {
	//display: block;
	display: inline-block;
	position: absolute;
	z-index: $zPanelBackdrop;
	width: $panelContainerWidth;
	height: 100%;
	left: 0px;
	
	border-bottom: 2px solid white;
	
	background-size: cover;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-repeat: no-repeat;
}

#player-container {
	width: 100%;
	top: 0;
	text-align: center;
	
	border-bottom: none;
}

#video-info-panel {
	top: 100%;
	text-align: left;
}

#pairing-panel {
	top: 200%;
	text-align: center;
}

#account-panel {
	top:300%;
	padding-left: 2%;
	text-align: left;
}

#portol-panel {
	top: 400%;
	text-align:center;
}

#video-title {
	display: inline-block;
	border: none;
	//padding: 0.1em 0;
	width: 95%;
	position: relative;
	font-weight: 600;
	font-size: 4.2vw;
	letter-spacing: 1px;
	color: white;
	outline: none;
	font-family: $mainFont;
}

#video-description {
	//display: inline-block;
	font-family : $mainFont;
	padding: 0.1em 0.25em;
	border: none;
	font-weight: 400;
	font-size : 2vw;
	color : white;
	width: 80%;
	max-height: 50%;
	overflow-y: scroll;
	//height: 25%;
	//overflow: scroll;
 	//-webkit-overflow-scrolling: touch;
  	//overflow-y: scroll;
}

#video-creator {
	//display: inline-block;
	font-family : $mainFont;
	font-weight: 400;
	font-size : 2.5vw;
	color : white;
	padding: 0.2em 0.25em;
}

#video-discoverer {
	position: absolute;
	display: inline-block;
	font-family: $mainFont;
	color: white;
	padding: 0.2em 0.25em;
	bottom: 1em;
	text-align:center;
}

#channel-title {
	font-family : $mainFont;
	font-weight: 400;
	font-size : 1.2em;
	color : white;
	position: relative;
}

#channel-description {
	font-family : $mainFont;
	font-weight: 400;
	font-size : 0.6em;
	color : white;
	position: relative;
}

#pdash-player {
	width: 100%;
	height: 100%;	
}

#panel-controllers {
 display: none;
 position: absolute;
 top: 0px;
 height: 100%;
 width: 70px;
 right: 0px;
 z-index: $zControlButtons;
 background: none;
}

#qrcode-img {
	width: 50%;
}

#video-col-1 {
	display: inline-block;
	position: absolute;
	top:10%;
	height: 90%;
	padding-left: 1em;
}

.underlay {
	position: fixed;
	border: 0 0 0 
}

.frozen {
	position: absolute;
	top: 100%;
}

#splash-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
}

/***************************
	* Player Panel
 ***************************/
 #player-options-container {
 	display: inline-block;
 	position: absolute;
 	top:30%;
 	left: 5%;
 	width: 30%;
 	background: rgba(255,255,255,.2);
 	
 	&.hidden-container {
 		display: none;
 	}
 	
 	z-index: $zControlButtons;
  }
  
  #login-options-container {
 	display: inline-block;
 	position: absolute;
 	top:30%;
 	left: 5%;
 	width: 30%;
 	background: rgba(255,255,255,.2);
 	
 	&.hidden-container {
 		display: none;
 	}
 	
 	z-index: $zControlButtons;
  }
  
 .player-option-button {
 	display: inline-block;
 	width: 100%;
 	text-align: center;
 	
 	//border: 2px solid #00C488;
 	//background-color: #00C488;
 	background-color: rgb(0,185,127);
 	
 	font-size: 1em;
 	color: white;
 	font-family: $mainFont;
 	
 	height: 50px;
 	
 	//@include border-radius(10px);
 	
 	//background-color: rgba(63,81,181,1);
 	
 	&.hidden-button {
 		display: none;
 	}
 	
 	&:hover {
 		cursor: pointer;
 		background-color: rgb(0,196,136);
 	}
 }
 
 .player-option-text {
 	display:inline-block;
 	width: 100%;
 	text-align: left;
 	background-color: white;
 	
 	margin: 0px 0px 0px 0px;
 	border-bottom: 1px solid rgb(200, 200, 200);
 	height: 50px;
 	
 	font-family: $mainFont;
 	
 	color: rgba(150,150,150,.8);
 }
 
 #player-option-preview {
 	margin-top: 10px;
 }
 
 #player-option-buy {
 	//noop
 }
/***************************
	* Pairing Panel
 ***************************/

#pairing-methods {
	display:inline-block;
	position:absolute;
	top: 20%;
	height: 60%;
	width: 100%;
	left: 0;
	text-align: center;
}

#text-pair-code {
	font-family: $mainFont;
	margin: 10px 20px 10px 20px;
	padding: 5px 5px 5px 5px;
	font-size: 5em;
	color: white;
	width: 61%;
	background-color: #FF4081;
}

/**************************
 * Control Bar
 **************************/

$numButtons : 6;
$buttonHeight: percentage(1/ $numButtons);

#control-bar {
 	position: absolute;
 	top: 0px;
 	height: 100%;
 	right: 0px;
 	z-index: $zControlButtons;
 	text-align: center;
 
 	@include easy-transition(0.100s);
}

.opened-drawer {
	width: $controlBarWidth;
	
	-webkit-box-shadow: -30px 0px 30px -10px rgba(0,0,0,0.5);
 	-moz-box-shadow: -30px 0px 30px -10px rgba(0,0,0,0.5);
 	box-shadow: -30px 0px 30px -10px rgba(0,0,0,0.5);
}

.closed-drawer {

	$leftStop: rgba(0,0,60,0);
	$rightStop: rgba(0,0,0,0.65);
	
	width: $controlBarShortWidth;
	
	background: -webkit-linear-gradient(right, $leftStop , $rightStop); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, $leftStop, $rightStop); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, $leftStop, $rightStop); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, $leftStop , $rightStop); /* Standard syntax */
	
	 -webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;
}

.hidden-drawer {
	width: 0;
	
	
	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;
}

.splash-button {
	position: absolute;
	display: inline-block;
	//background: rgba(255, 64, 129, 0.81);
	background: rgba(63, 81, 181, .90);
	//background: rgb(63,81,181);
	border-bottom: 1px solid rgba(20,20,20,1);
	-webkit-background-clip: padding;
	background-size: cover;
	background-clip: padding-box;
	color: white;
	width:100%;
	font-family: $mainFont;
	left: 2px;
	z-index: $zControlButtons;
	
	border-left: 2px solid white;

	//margin-top: 25px;
	//padding: 0 1.25em;
	line-height: 1.2em;
	letter-spacing: 1px;
	outline: none;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highligh-color: transparent;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
	cursor: pointer;
	
	-webkit-box-shadow: -20px 0px 20px -10px rgba(0,0,0,0.8);
	-moz-box-shadow: -20px 0px 20px -10px rgba(0,0,0,0.8);
	box-shadow: -20px 0px 20px -10px rgba(8,8,8,0.8);
	
	height: $buttonHeight;
	
	&.mini{ 
		width: 50px;
		height:50px;
		background: none;
		border: none;
		
		&.mini:hover {
			//overwrite
			width: 55px;
			height: 55px;
			background: none;
			left: -2.5px;
			top: -2.5px;
		}
	}
	
	&:hover {
		background: rgba(255, 64, 129, .95);
		//background: rgba(63, 81, 181, 1);
		-webkit-box-shadow: -20px 0px 20px -2px rgba(0,0,0,0.8);
		-moz-box-shadow: -20px 0px 20px -10px rgba(0,0,0,0.8);
		box-shadow: -30px 5px 30px -5px rgba(0,0,0,0.8);
		
		z-index: $zControlButtons + 1;
	}
}

@function calc-normal-button-top($button-index){
  @return $buttonHeight * $button-index;
}

@function calc-mini-button-top($button-index){
  @return ($miniButtonSize + 10px) * $button-index;
}

.splash-button-focus {
		background: rgba(255, 64, 129, .95);
		-webkit-box-shadow: -20px 0px 20px -2px rgba(0,0,0,0.8);
		-moz-box-shadow: -20px 0px 20px -10px rgba(0,0,0,0.8);
		box-shadow: -30px 5px 30px -5px rgba(0,0,0,0.8);
		
		z-index: $zControlButtons + 2;
}

.splash-button-label {
	display:inline-block;
	text-align: left;
	color: white;
	font-family: $mainFont;
	font-size: 3vw;
	
	width: 100%;
	
	margin-top: 40%;
}

/****
 Divide buttons up with golden ratio
 ****/
.golden-split {
	display: inline-block;
	overlap-x: hidden;
	height: 100%;
}
.golden-split-small {
	width: 38%;
	text-align: center;
	margin: auto;
	
	&.mini{
		width: 50px;
		height: 50px;
		top: 0;
		//border-radius: 50%;
		background-color: transparent;
	
		@include easy-transition(.100s);
	}
}

.golden-split-big {
	width: 60%;
	float: right;
	
	&.mini{
		display: none;
	
		@include easy-transition(.100s);
	}
}
//END divide buttons up

.control-icon {
	display: inline-block;
 	border: 2px solid white;
	background: rgba(20,20,20,.3);
	
	@include border-radius(50%);
	
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
 	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
 	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
 	
 	&.normal{
 		width: 61%;
		height: auto;
		margin-top: 35%;	
 	}
 	
 	 &.mini{
 		width: 100%;
 		height: 100%;
 		margin-top: 0;
 		border: 2px solid white;
 		&.mini:hover {
 			width: 52px;
 			height:52px;
 		}
 	}
 	
}

#portol-logo {
	width: 33%;
	height: 100%;
}

#drawer-button {
	&.normal {
		top: calc-normal-button-top(0);
	}
	
	&.mini {
		top: calc-mini-button-top(0);
		text-align: center;
		&.mini:hover {
			
		}
	}
}

#watch-button {
	&.normal {
		top: calc-normal-button-top(1);
	}
	
	&.mini {
		top: calc-mini-button-top(1);
	}
}

#video-info-button {
	&.normal {
		top: calc-normal-button-top(2);
	}
	
	&.mini {
		top: calc-mini-button-top(2);
	}
}

#pairing-button-icon-image {

}

#pairing-button {
	&.normal {
		top: calc-normal-button-top(3);
	}

	&.mini {
		top: calc-mini-button-top(3);
	}
}

#account-button {
	&.normal {
		top: calc-normal-button-top(4);
	}
	&.mini {
		top: calc-mini-button-top(4);
	}
}

#portol-button {
	&.normal {
		top: calc-normal-button-top(5);
	}
	&.mini {
		top: calc-mini-button-top(5);
	}
}

#portol-logo {
	width: 33%;
	height: 100%;
}

#portol-logo-button {
	width: 100%;
	height: 100%;
}

/********************************
 * RATING BAR
*********************************/

#rating-bar {
	unicode-bidi: bidi-override;
	direction: rtl;
	color: #FBB117;
}

.rating-star {
	unicode-bidi: bidi-override;
	direction: rtl;
	display: inline-block;
	position: relative;
	font-size: 3vw;
}

.good-star {
	color: #FBB117;
}

.bad-star {
	color: none;
	border: 1px;
}

/*******************************************
  * Video Info Panel
********************************************/
#price-scroll {
	background: transparent;
	border: 2px solid #00C488;
	width: 3em;
	padding: 5px 3px 5px 3px;
	
	color: white;
	font-family: $mainFont;
	font-size: 1.7em;
	
	text-align: center;
	
	//margin-left: 1em;
	@include border-radius(10px);
}

/******************************************
  * Account Info Panel
  *****************************************/
#user-name {
	color: white;
	font-family: $mainFont;
	font-size: 1.7em;
}

#user-pic {
	width: 30%;
	display: inline-block;
	position: relative;
}

#user-balance {
	width: 150px;
	color: white;
}

/*******************************************
 Pairing Panel
******************************************/

#portol-cast-color-icon {
	display:inline-block;
	width: 61%;
	height: 36%;
	
	margin-top: 32%;

	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
 	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
 	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
	
	@include border-radius(18px);
}

/*******************************************
 Portol Info Panel
******************************************/

#portol-info-link {
	color: white;
	font-size: 3vw;
}

/**
 * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
 * 
 * To overcome this, create media queries that target the width, height, and orientation of iOS devices. 
 * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing 
 * the height of element `.foo` —which is a full width and height cover image.
 *
 * iOS Resolution Quick Reference: http://www.iosres.com/
 */
 
 .foo {
    height: 100vh;
    width: 100vw;
    background: url(cover.jpg) center center / cover no-repeat;
 }
 

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .foo {
    height: 1024px;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .foo {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .foo {
    height: 500px;
  }
}